{% extends 'main/layout.html' %}
{% load static %}

{% block title %}
    {{ Профиль }}
{% endblock %}

{% block content %}
<script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>

$(document).ready(function () {

    function create_chart(response) {
        var result = ''
        if (response['is_chart']){
            result += '<p style="font-size:18px;"><b>График изменения веса </b>' +
            '<div class="profile-graph">' +
            '<img src="data:image/png;base64,' + response['chart'] + '">' +
            '</div>'
        }else {
        result += '<p>Данных об измерениях веса нет</p>'
        }
        $(".chart_d").prepend(result);
    }

    $('.btn_add_measure').on('click', function (e) {
        e.preventDefault();
        console.log('button btn_add_measure clicked');

        $.ajax({
            type: 'GET',
            url: '/add_measure/?weight=' + $('#id_weight').val() + '&date=' + $('#id_date').val(),
            success: function (result) {
                $(".chart_d").empty()
                create_chart(result)
            },
            error: function(error) {
                alert("Error occured! :(");
                console.log(error);
            }
        });
    });

    $('.btn_delete_measure').on('click', function (e) {
        e.preventDefault();
        console.log('button btn_delete_measure clicked');

        $.ajax({
            type: 'GET',
            url: '/delete_measure/',
            success: function (result) {
                $(".chart_d").empty()
                create_chart(result)
            },
            error: function(error) {
                alert("Введите корректные данные :(");
                console.log(error);
            }
        });
    });

});
</script>
    <div class="profile">
    <h1>Профиль клиента</h1>
    <p><b>Фамилия Имя Отчество: </b> {{ role.customer.surname }} {{ role.customer.name }} {{ role.customer.patronymic}} </p>
    <p><b>Логин: </b> {{ role.user.login }} </p>
    <p><b>Дата рождения: </b> {{ role.customer.day_of_birth }} </p>
    <p><b>Email: </b> {{ role.user.email }} </p>
    <p><b>Тариф: </b> {{ tariff.tariff_name }} </p>
    <p><b>Дата окончания срока действия абонемента: </b> {{ role.customer.tariff_end_date }} </p>
    {% if role.customer.instructor == None %}
        <p><b>У Вас нет ведущего тренера. </b> </p>
        {% else %}
            <p><b>Ваш ведущий тренер: </b> <a target="_blank" href="{% url 'instructor_detail' role.customer.instructor %}">{{ role.customer.instructor.surname }} {{ role.customer.instructor.name }} {{ role.customer.instructor.patronymic }}</p>
             </a>
    {% endif %}
    <p><b>Рост: </b> {{ role.customer.height }} см.</p>
    <br>
    <p style="font-size:18px;"><a href="{% url 'edit_customer' %}">Редактировать личную информацию</a></p>
    <br>
        <div class="chart_d">
        {% if is_chart == True %}
            <p style="font-size:18px;"><b>График изменения веса </b>
            <div class="profile-graph">
            <img src="data:image/png;base64, {{ chart }}">
            </div>
        {% else %}
            <p>Данных об измерениях веса нет</p>
        {% endif %}
        </div>
        <div class="chart_options">
        <label>Вес: </label><input style="margin:5px" type="number" id="id_weight" required placeholder="Введите вес в кг">
        <label>Выбрать дату: </label><input style="margin:5px" type="date" id="id_date" max="{{ today }}" required placeholder="Введите дату взвешивания">
        <button class="btn btn-success btn-icon btn_add_measure"> <span class="icon"><i class="fas fa-plus"></i></span>Добавить новое измерение </button>
        <button class="btn btn-danger btn-icon btn_delete_measure"> <span class="icon"><i class="fas fa-trash"></i></span> Удалить последнее изменение </button>
        </div>
       </div>
    <div class="features">
    {% if instructor_action_logs|length != 0  %}
    <details>
    <summary><h2 style="color:orange"> Изменение расписания персональных тренировок за последнюю неделю </h2> </summary>
     <ul>
     {% for act in instructor_action_logs %}
         <li>
        <p>{{act.act_date}} <a target="_blank" href="{% url 'instructor_detail' act.instructor %}"> {{act.instructor.surname }} {{act.instructor.name }} </a> {{ act.description }}</p>
         </li>
     {% endfor %}
     </ul>
    </details>
    {% else %}
        {% if have_instructor %}
        <h2 style="color:orange"> Расписание персональных тренировок за последнюю неделю не менялось</h2>
        {% endif %}
    {% endif %}

    {% if group_classes_logs|length != 0  %}
    <details>
    <summary><h2 style="color:orange"> Изменение расписания групповых тренировок за последнюю неделю </h2> </summary>
     <ul>
     {% for act in group_classes_logs %}
         <li>
        <p>{{act.act_date}} {{ act.description }}. Тип тренировки - {{ act.group_class.class_name }}</p>
         </li>
     {% endfor %}
     </ul>
    </details>
    {% else %}
    <h2 style="color:orange"> Расписание групповых тренировок за последнюю неделю не менялось</h2>
    {% endif %}
    </div>
{% endblock %}