{% extends 'main/layout.html' %}

{% block title %}
    Групповые занятия
{% endblock %}

{% block content %}
<script rel="javascript" type="text/javascript" href="js/jquery-1.11.3.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
$(document).ready(function () {
<!--  document.getElementById("post-form").reset()-->

    function create_table_body(response) {
        var result = ""
        for (var time in response){
            result += '<tr>'+ '<td>'+ time + '</td>'
            for (var day in response[time]){
                var value = response[time][day]
                if (value.length == 0){
                    result += '<td> - </td>'
                }
                else {
                    result += '<td>'
                    for (var i = 0; i < value.length; i++){
                        result +=  '<p>' + value[i]['class_name'] + "  " +  value[i]['instructor_name'] + '</p>'
                    }
                    result += '</td>'
                }
           }
           result += '</tr>'
        }
        $(".table_body").prepend(result);
    }

    $('.btn_get_clubs_schedule').on('click', function (e) {
        e.preventDefault();
        console.log('button clicked');

        $.ajax({
            type: 'GET',
            url: '/get_club_schedule/?club_id=' + $('#id_address').val(),
            success: function (result) {
                $(".table_body").empty()
                create_table_body(result.classes_data)
            },
            error: function(error) {
                alert("Error occured! :(");
                console.log(error);
            }
        });
    });
});
</script>

    <div class="features">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn_get_clubs_schedule knopka">Показать расписание</button>
        </form>
        <h1>Расписание</h1>

        <table>
          <thead>
            <tr>
              <td>Время</td>
              <td>Понедельник</td>
              <td>Вторник</td>
              <td>Среда</td>
              <td>Четверг</td>
              <td>Пятница</td>
              <td>Суббота</td>
              <td>Воскресенье</td>

            </tr>
          </thead>
          <tbody class="table_body">

          {% for time, tdata in classes_data.items %}
            <tr>
                <td> {{ time }}</td>
                {% for day, value in tdata.items %}

                    {% if value|length == 0  %}
                        <td> - </td>
                    {% else %}
                        <td>

                        {%for v in value%}
                            <p>{{ v.class_name }} {{ v.instructor_name }}</p>
                        {% endfor %}
                        </td>

                    {% endif %}
                {% endfor %}
            </tr>
          {% endfor %}
          </tbody>
        </table>

        <h2>Описание занятий</h2>
        {% for i in classes %}
            <details>
            <summary>{{ i.class_name }}</summary>
                <p>Длительнось занятия: {{ i.duration }} минут</p>
                <p>{{ i.description }}</p>
            </details>
        {% endfor %}
        </div>
{% endblock %}

