{% extends 'main/layout.html' %}
{% load static %}


{% block title %}
    Инструктор
{% endblock %}

{% block content %}
<div class="profile" >
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <img src="{{ instructor.photo}}" >
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
        <h1>{{ instructor.surname }} {{ instructor.name }} {{ instructor.patronymic }}</h1>
        <h2 style="color:red">Стаж {{instructor.experience}} {{ exp_str }} </h2>
        <h2 style="color:red">Образование</h2>
        <ul>
          {% for i in instructor.education %}
          <li>{{ i }}</li>
          {% endfor %}
        </ul>

        <h2 style="color:red">Достижения</h2>
        <ul>
          {% for i in instructor.achievements %}
          <li>{{ i }}</li>
          {% endfor %}
        </ul>

        <h2 style="color:red">Специализация</h2>
        <ul>
          {% for i in instructor.specialization %}
          <li>{{ i }}</li>
          {% endfor %}
        </ul>

      </div>
    </div>
  </div>
</div>
<div class="features">
    <h2>Ведет занятия в фитнес-клубе по адресу {{ address }}</h2>
  <h1>Расписание</h1>

        <table>
          <thead>
            <tr>
              <td>Время</td>
              <td>Понедельник</td>
              <td>Вторник</td>
              <td>Среда</td>
              <td>Четверг</td>
              <td>Пятница</td>
              <td>Суббота</td>
              <td>Воскресенье</td>

            </tr>
          </thead>
          <tbody class="table_body">

          {% for time, tdata in shedule.items %}
            <tr>
            <td> {{ time }}</td>
                {% for day, value in tdata.items %}
                    {% if value|length == 0  %}
                        <td> - </td>
                    {% else %}
                        <td>
                       {{ value.name }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
          {% endfor %}

          </tbody>
        </table>
</div>
{% endblock %}

