<!--быстро прописать шаблон ! + tab-->
{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <aside>
<!--        <span class="logo">Gold Owl Fitness</span>-->
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Главная</li></a>
            <a href="{% url 'address' %}"><li><i class="fa fa-map-marker"></i> Адреса</li></a>
            <a href="{% url 'services' %}"><li><i class="fa fa-bicycle"></i> Услуги</li></a>
            <a href="{% url 'groupclasses' %}"><li><i class="fas fa-futbol"></i> Групповые занятия</li></a>
            <a href="{% url 'instructors' %}"><li><i class="fas fa-home"></i> Инструкторы</li></a>
            <a href="{% url 'login' %}"><li><i class="fas fa-home"></i> Вход</li></a>
            <a href="{% url 'signup' %}"><li><i class="fas fa-home"></i> Регистрация</li></a>
            <a href="{% url 'logout' %}"><li><i class="fas fa-home"></i> Выход</li></a>

        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>