{% load static %}

<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <aside>
        <h3>Навигация</h3>
        <ul>
            {% if role.is_customer %}
            <a href="{% url 'customer_profile' %}"><li><i class="fas fa-user-circle"></i> Профиль {{ role.customer.name }}</li></a>
            <a href="{% url 'customer_training_records' %}"><li><i class="fas fa-calendar-check"></i> Записи на тренировки </li></a>
            {% else %}
                {% if role.is_instructor %}
                <a href="{% url 'instructor_profile' %}"><li><i class="fas fa-user-circle"></i> Профиль {{ role.instructor.name }}</li></a>
                {% else %}

                    {% if role.is_admin %}
                    <a href="{% url 'admin_profile' %}"><li><i class="fas fa-user-circle"></i> Профиль администратора</li></a>
                    {% endif %}
                {% endif %}
            {% endif %}

            <a href="{% url 'home' %}"><li><i class="fas fa-home"></i> Главная</li></a>
            <a href="{% url 'address' %}"><li><i class="fa fa-map-marker"></i> Адреса</li></a>
            <a href="{% url 'services' %}"><li><i class="fa fa-bicycle"></i> Услуги</li></a>
            <a href="{% url 'groupclasses' %}"><li><i class="fas fa-futbol"></i> Групповые занятия</li></a>
            <a href="{% url 'instructors' %}"><li><i class="fas fa-home"></i> Инструкторы</li></a>
            <a href="{% url 'prices' %}"><li><i class="fa fa-shopping-bag"></i> Цены </li></a>

            {% if role.is_guest %}
            <a href="{% url 'login' %}"><li><i class="fas fa-home"></i> Вход</li></a>
            <a href="{% url 'signup' %}"><li><i class="fas fa-home"></i> Регистрация</li></a>
            {% endif %}

            {% if not role.is_guest %}
            <a href="{% url 'logout' %}"><li><i class="fas fa-home"></i> Выход</li></a>
            {% endif %}

        </ul>
    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>

</body>
</html>